.container
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    max-width: 100%
    margin-top: 1.2rem

.form 
    background: linear-gradient(90deg, rgba(12,12,75,1) 6%, rgba(9,10,62,1) 85%)
    display: flex
    flex-direction: column
    gap: 8px
    width: 38%
    max-width: 35rem
    margin-top: 1.25rem
    padding: 2rem 1rem
    background-color: #212529
    border-radius: 12px
    border: 2px solid #A6CFD5

    @media (max-width: 1024px)
    width: 90%


    h3
        font-family: 'Nunito', sans-serif
        font-size: 1.4rem
        color: #FFFFFF
        text-align: center

    label
        font-family: 'Roboto', sans-serif
        font-size: clamp(0.8rem, 0.5rem, 1.1rem)
        color: #d3e0f0 
        font-weight: 500


    span
        font-family: 'Inter', sans-serif
        font-size: clamp(0.4rem, 0.7rem, 0.8rem)
        color: #ff6961
        padding-left: 12px

    button 
        width: 50%
        height: 32px
        background: #256EFF
        color: #ffffff
        border-radius: 16px
        font-family: 'Nunito', sans-serif
        font-size: 1.2rem
        margin: 1rem auto 0
        &:hover
            transition: 0.4s
            background: #031D44
            color: #44CCFF
            
.formInput
    height: 22px
    padding-left: 12px
    font-family: 'Inter', sans-serif
    background: #d3e0f0
    border-radius: 8px
    outline: 0


    display: flex
    align-items: center
    
